<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8">
      <div class="video">
        <video
          controls
          #videoPlayer
          poster="../../../assets/image/placeholder-video-poster.jpg"
        >
          <source [src]="currentVideo.src" type="video/mp4"/>
          Browser not supported
        </video>
        <div class="controls-container">
          <div class="media-controls">
            <ul id="video-controls" class="controls">
              <li>
                <a (click)="onPlayOrPause()">
                  <i class="fa" [ngClass]="{'fa-play': videoPlayer.paused, 'fa-pause': !videoPlayer.paused}"></i>
                </a>
              </li>
              <li>
                <a (click)="onStopPlayer();">
                  <i class="fa fa-stop" aria-hidden="true"></i>
                </a>
              </li>
              <li>
                <span class="time">
                  {{(currentTime ? currentTime : 0) | number:'1.2-2' }}
                </span>
              </li>
              <li class="progress">
                <div class="progress-bar" #progressBar role="progressbar"
                     [attr.aria-valuenow]="percentage" aria-valuemin="0" aria-valuemax="100"
                     [style.width]="(percentage) + '%'">
                </div>
              </li>
              <li>
              <span class="time">
                {{(duration ? duration : 0) | number:'1.2-2'}}
              </span>
              </li>
              <li class="vol-range">
                <input class="volume-range" #volumeSlider type="range" min="0" max="100" step="1"/>
              </li>
              <li>
                <a class="mute" (click)="onMuteVideo()">
                  <span class="fa-stack">
                    <i class="fa fa-volume-off fa-stack-2x fa-nudge-left"></i>
                    <i
                      *ngIf="videoPlayer.muted"
                      class="fa fa-times fa-right">
                    </i>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>

    </div>
    <div class="col-xs-12 col-md-4">
      <div class="video-playlist">
        <ul class="list-group">
          <li
            *ngFor="let video of videos"
            [ngClass]="{'active': currentVideo.src === video.src}"
            (click)="onChangeVideo(video)"
            class="list-group-item d-flex justify-content-between align-items-center">
            <div class="media">
              <div class="media-left">
                <img [src]="video.cover" class="media-object" style="width:60px">
              </div>
              <div class="media-body">
                <h4 class="media-heading">{{video.title}}</h4>
                <p>{{video.description}}</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
