section.video-player{
  .row {
    margin: 15px 0;
    .video {
      background: #3c3c3c;
      margin-bottom: 20px;
      video {
        display: block;
        width: 100%;
        height: auto;
        background: black;
        background-image: url('../../../assets/image/placeholder-video-poster.jpg');
        background-repeat: no-repeat;
        background-position: center;

      }

      .controls-container {
        padding: 5px 0;
        .media-controls {
          ul {
            display: flex;
            justify-content: space-between;
            align-items: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            .progress {
              width: 55%;
              margin: 0;
            }
            li {
              display: flex;
              align-items: center;
              margin: 0 5px;
              &.vol-range {
                max-width: 20%;
              }
              span {
                &.time {
                  color: #FFFFFF;
                }
              }

            }
            a {
              display: flex;
              align-items: center;
              cursor: pointer;
              i {
                font-size: 20px;
                color: #D5D5D5;
              }
              &.mute {
                .fa-volume-off {
                  left: auto;
                  right: 12%;
                  font-size: 2em;
                }
                .fa-times {
                  position: absolute;
                  line-height: inherit;
                  right: 0;
                  font-size: 1em;
                }
              }
              &:hover{
                color: transparent;
              }
            }
          }
        }
      }
    }
    .video-playlist {
      li {
        cursor: pointer;
        .media{
          display: flex;
          align-items: center;
        }
      }
    }
  }
}




